@import url("./components/ExternalComponents/GoogleButton.css"); 

@layer base {
  #root {
    font-family: "Roboto";
    overflow-x: hidden !important;
    min-height: 100dvh;
    min-height: 100vh;
  }
  
  button {
    border: none;
  }
}

body{ 
  background-color: hsl(217, 33%, 17%);
  background-image: url(./assets/bookshelfblobbg.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 100vh;
  min-height: 100dvh;
}

h1{
  font-size: 3rem;
  font-weight: 900;
}

h2{
  font-size: 2.25rem;
  font-weight: 600;
}

.book-tab{
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 5px 5px hsla(222, 47%, 11%, 0.2)) ;
}

.active-book-tab::after, .book-tab::after{
  content: '';
  position: absolute;
  inset: 0;
  clip-path: polygon(1% 0, 100% 0%, 100% 100%, 1% 100%, 3% 50%);
  z-index: -1;
  background: hsl(217, 33%, 17%);
  box-shadow: inset 0px 1px 2px hsla(210, 40%, 98%, 0.1);
}

.book-tab::after , .book-tab > *{
  transition:  transform 300ms ease-in-out ;
  
}
.book-tab::after{
  transform: translateX(100%);
  opacity: 0;
}

.active-book-tab::after {
  background: hsl(215, 20%, 65%);
}

.active-book-tab::after{
  transform: translateX(0);
  opacity: 1;
}

.book-tab:focus-within{
  background-color: hsla(0, 0%, 0%, 0.04);
}

.book-tab:focus-within > *{
  color: hsl(222, 47%, 11%);
}

.active-book-tab > *{
  cursor: default;
  color: hsl(222, 47%, 11%);
}



.book-title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .1rem;
}

.book-subtitle {
  font-family: 'Courier New', Courier, monospace;
  opacity: .8;
}

.line-separator{
  display: flex;
  flex-flow: row wrap;
}


.line-separator>* {
  flex: 1 1 auto;
  position: relative;
}

.line-separator>* + *::before {
  content: "";
  position: absolute;
  background: white;
  width: 1px;
  height: 2em;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
}

/* md material-ui */
@media (max-width:899px){
  html{
    font-size: .9rem;
  }
}

/* sm material-ui */
@media (max-width:599px){ 
  html{
    font-size: .8rem;
  }
  
  .active-book-tab::after, .book-tab::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    box-shadow: 0;
  }
  
  .book-tab::after{
    transform: translateY(100%);
    opacity: 0;
    
  }
  
  .active-book-tab::after, .book-tab:focus-within::after{
    transform: translateY(0);
    opacity: 1;
  }
  
  
}
