@layer base {
  #root {
    font-family: "Roboto";
    overflow-x: hidden !important;
  }
  
  button {
    border: none;
  }
}


.book-tab{
  position: relative;
  z-index: 1;
  filter: drop-shadow(0px 5px 5px hsla(222, 47%, 11%, 0.2)) ;
}

.active-book-tab::after, .book-tab::after{
  content: '';
  position: absolute;
  inset: 0;
  clip-path: polygon(1% 0, 100% 0%, 100% 100%, 1% 100%, 3% 50%);
  z-index: -1;
  background: hsl(217, 33%, 17%);
  box-shadow: inset 0px 1px 2px hsla(210, 40%, 98%, 0.1);
}

.book-tab::after , .book-tab > *{
  transition:  transform 300ms ease-in-out ;
  
}
.book-tab::after{
  transform: translateX(100%);
  opacity: 0;
}

.active-book-tab::after {
  background: hsl(215, 20%, 65%);
}

.active-book-tab::after{
  transform: translateX(0);
  opacity: 1;
}

.book-tab:focus-within{
  background-color: hsla(0, 0%, 0%, 0.04);
}

.book-tab:focus-within > *{
  color: hsl(222, 47%, 11%);
}

.active-book-tab > *{
  cursor: default;
  color: hsl(222, 47%, 11%);
}



.book-title {
  margin: 0;
  font-size: 3rem;
  line-height: 1.2;
  font-family: Georgia, 'Times New Roman', Times, serif;
  letter-spacing: .1rem;
}

.book-subtitle {
  font-family: 'Courier New', Courier, monospace;
  opacity: .8;
}

/* md material-ui */
@media (max-width:899px){
  html{
    font-size: .9rem;
  }
}

/* sm material-ui */
@media (max-width:599px){ 
  html{
    font-size: .8rem;
  }
  
  .active-book-tab::after, .book-tab::after{
    content: '';
    position: absolute;
    inset: 0;
    z-index: -1;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
    box-shadow: 0;
  }
  
  .book-tab::after{
    transform: translateY(100%);
    opacity: 0;
    
  }
  
  .active-book-tab::after, .book-tab:focus-within::after{
    transform: translateY(0);
    opacity: 1;
  }
  
  
}
